<suite name="ParallelTests" parallel="tests" thread-count="2">
  <test name="ChromeTest">
    <parameter name="browser" value="Chrome"/>
    <parameter name="platform" value="Windows 10"/>
    <parameter name="browserVersion" value="latest"/>
    <classes>
         <class name="com.lambdatest.TestScenario_1"/>
            <class name="com.lambdatest.TestScenario_2"/>
            <class name="com.lambdatest.TestScenario_3"/>
    </classes>
</test>

<test name="FirefoxTest">
    <parameter name="browser" value="Firefox"/>
    <parameter name="platform" value="Windows 10"/>
    <parameter name="browserVersion" value="latest"/>
    <classes>
       <class name="com.lambdatest.TestScenario_1"/>
            <class name="com.lambdatest.TestScenario_2"/>
            <class name="com.lambdatest.TestScenario_3"/>
    </classes>
</test>
 
</suite>
